<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.authapp.repository.UserMapper">

    <select id="login" resultType="com.example.authapp.model.User">
        SELECT *
        FROM test_user
        WHERE email = #{email}
          AND pass = #{pass}
    </select>
    
    <select id="findByEmail" resultType="com.example.authapp.model.User">
        SELECT *
        FROM test_user
        WHERE email = #{email}
    </select>
    
    <insert id="insertUser">
        INSERT INTO test_user (email, pass)
        VALUES (#{email}, #{pass})
    </insert>

</mapper>
